footer {
    background-color: $color_grey;
    width: 100%;
    padding: 10px 0;
}

footer .main-footer {
    text-align: center;
}

footer .main-footer p {
    font-family: "Futura";
    font-weight: 300;
    font-size: 16px;
}